@model dynamic;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Catalogo";
    IEnumerable<boseapp.Models.Categoria> categoria = new List<Categoria>();
    IEnumerable<boseapp.Models.Producto> catalogos = new List<Producto>();
    categoria = @Model.itemCategoria;
    catalogos = @Model.itemCatalogos;
}

<h1 class="mt-4">@ViewData["Title"]</h1>

<div class="btn-group" role="group" aria-label="Currency Selector">

    <div class="btn-group" role="group" aria-label="Currency Selector">
        <a asp-controller="Catalogo" asp-action="Index" asp-route-currency="PEN"
            class="btn @(Model.CurrentCurrency == "PEN" ? "btn-primary" : "btn-secondary")">SOL</a>
        <a asp-controller="Catalogo" asp-action="Index" asp-route-currency="USD"
            class="btn @(Model.CurrentCurrency == "USD" ? "btn-primary" : "btn-secondary")">USD</a>
        <a asp-controller="Catalogo" asp-action="Index" asp-route-currency="EUR"
            class="btn @(Model.CurrentCurrency == "EUR" ? "btn-success" : "btn-secondary")">EURO</a>
    </div>
    @* <form asp-controller="Catalogo" asp-action="Exchange" method="post">
        <input type="hidden" name="To" value="USD" />
        <input type="hidden" name="Amount" id="amountUSD" />
        <button type="submit" class="btn btn-secondary">USD</button>
    </form> *@
</div>

<div class="container">
    <div class="navbarNav " id="navbarNav">
        <ul class="nav nav-tabs">
            @foreach (Categoria item in Model.itemCategoria)
            {
                <li class="nav-item">
                    <a class="nav-link" href="#">@Html.DisplayFor(modelItem => item.Nombre)</a>
                </li>
            }
        </ul>
    </div>

    <div class="row">

        @foreach (Producto item in Model.itemCatalogos)
        {
            <div class="col-6" style="margin-bottom: 5rem;">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="@item.ImagenURL" alt="@item.Nombre" class="img-responsive" />
                    </div>
                    <div class="wsk-cp-text">
                        <div class="precio">
                            <span>@Model.CurrencySymbol @Html.DisplayFor(modelItem => item.Precio)</span>
                        </div>
                        <div class="title-product">
                            <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
                        </div>
                        <div class="description-prod">
                            <p>@Html.DisplayFor(modelItem => item.Descripcion)</p>
                        </div>
                        <div class="card-footer1">
                            <a class="btn-carrito" asp-controller="Carrito" asp-action="Add"
                                asp-route-id="@item.Id"><span>Agregar Al Carrito</span><em><img
                                        src="https://img.icons8.com/?size=100&id=85180&format=png&color=000000"
                                        alt="carrito-icon" class="carrito-icon"></em></a>
                        </div>
                    </div>
                </div>
            </div>

        }

        <link rel="stylesheet" href="~/css/catalogo.css">

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const btnCarrito = document.querySelector('.btn-carrito');
                const carritoIcon = document.querySelector('.carrito-icon');
                const originalSrc = carritoIcon.src;

                btnCarrito.addEventListener('mouseover', function () {
                    carritoIcon.src = 'https://img.icons8.com/?size=100&id=85180&format=png&color=FFFFFF';
                });

                btnCarrito.addEventListener('mouseout', function () {
                    carritoIcon.src = originalSrc;
                });
            });
        </script>