@model boseapp.ViewModel.ContactoViewModel

@{
    ViewData["Title"] = "Contacto";
}
}

<div class="container" style="margin-top:2rem;">
    <h1 class="text-center mb-4">Formulario de Contacto</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form id="contactForm" asp-controller="Contacto" asp-action="Enviar" method="post">
                <input type="hidden" id="contactId" name="FormContacto.Id" value="" />
                <div class="form-group mb-3">
                    <label asp-for="FormContacto!.Nombre" class="control-label">Nombre</label>
                    <input asp-for="FormContacto!.Nombre" class="form-control" id="FormContacto_Nombre" required />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="FormContacto!.Email">Correo Electrónico</label>
                    <input asp-for="FormContacto!.Email" type="email" class="form-control" id="FormContacto_Email"
                        required />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="FormContacto!.Asunto">Asunto</label>
                    <input asp-for="FormContacto!.Asunto" class="form-control" id="FormContacto_Asunto" required />
                </div>
                <div class="form-group mb-3">
                    <label asp-for="FormContacto!.Message">Mensaje</label>
                    <textarea asp-for="FormContacto!.Message" class="form-control" id="FormContacto_Message"
                        required></textarea>
                </div>
                <div class="form-group text-center mb-3">
                    <button type="submit" class="btn btn-dark">Enviar</button>
                </div>
            </form>

            @* @if (TempData["Message"] != null)
            {
            <div id="successMessage" class="alert alert-success" role="alert">
            @TempData["Message"]
            </div>
            } *@
        </div>
    </div>

    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">Mensaje</h5>
                    <button type="button" data-dismiss="modal" class="btn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @TempData["Message"]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sd-6">
            <div class="tabla-responsive">
                <table class="table table-hover caption-top">
                    <caption>Lista de contactos</caption>
                    <thead class="fw-bold table-dark">
                        <td>ID</td>
                        <td>Email</td>
                        <td>Asunto</td>
                        <td>Message</td>
                        <td>Categoría</td>
                        <td>Acción</td>
                    </thead>
                    @if (Model.ListContacto != null && Model.ListContacto.Any())
                    {
                        @foreach (var item in Model.ListContacto)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td>@Html.DisplayFor(modelItem => item.Asunto)</td>
                                <td>@Html.DisplayFor(modelItem => item.Message)</td>
                                <td>@Html.DisplayFor(modelItem => item.Category)</td>
                                <td>
                                    <form asp-controller="Contacto" asp-action="EliminarPorId" method="post">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <p>No hay contactos disponibles.</p>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>
    window.onload = function () {

        var message = '@TempData["Message"]';
        if (message) {
            var messageModal = new bootstrap.Modal(document.getElementById('messageModal'));
            messageModal.show();
        }
    };
</script>