@model IEnumerable<boseapp.Models.Carrito>

@{
    ViewData["Title"] = "Carrito";
    var totalItems = Model.Sum(item => item.Cantidad);
    var deliveryOptions = ViewData["DeliveryOptions"] as Dictionary<string, decimal> ?? new Dictionary<string, decimal>();
    var currentDeliveryFee = ViewData["DeliveryFee"];
}
<div class="card-carrito">
    <div class="row">
        <div class="col-md-8 cart-carrito">
            <div class="title-carrito">
                <div class="row">
                    <div class="col">
                        <h4><b>Carrito de compras</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">@totalItems Productos</div>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="row border-top border-bottom">
                    <div class="row main-carrito align-items-center">
                        <div class="col-2"><img class="img-fluid img-carrito" src="@item.ImagenURL"
                                alt="@item.Producto?.Nombre"></div>
                        <div class="col">
                            <div class="row text-muted">@item.Categoria</div>
                            <div class="row">@item.Producto?.Nombre</div>
                        </div>
                        <div class="col" style="display: flex; justify-content: center; gap: 5px;">
                            <button href="#">-</button><a href="#" class="border a-carrito">@item.Cantidad</a><button
                                href="#">+</button>
                        </div>
                        <div class="col precioclosecarrito">S/.@((item.Precio * item.Cantidad).ToString("N2"))
                            <a asp-action="Delete" asp-route-id="@item.Producto?.Id" class="close-carrito"><svg
                                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30"
                                    viewBox="0 0 50 50" asp-action="Delete" asp-route-id="@item.Producto?.Id">
                                    <path
                                        d="M 21 2 C 19.354545 2 18 3.3545455 18 5 L 18 7 L 10.154297 7 A 1.0001 1.0001 0 0 0 9.984375 6.9863281 A 1.0001 1.0001 0 0 0 9.8398438 7 L 8 7 A 1.0001 1.0001 0 1 0 8 9 L 9 9 L 9 45 C 9 46.645455 10.354545 48 12 48 L 38 48 C 39.645455 48 41 46.645455 41 45 L 41 9 L 42 9 A 1.0001 1.0001 0 1 0 42 7 L 40.167969 7 A 1.0001 1.0001 0 0 0 39.841797 7 L 32 7 L 32 5 C 32 3.3545455 30.645455 2 29 2 L 21 2 z M 21 4 L 29 4 C 29.554545 4 30 4.4454545 30 5 L 30 7 L 20 7 L 20 5 C 20 4.4454545 20.445455 4 21 4 z M 11 9 L 18.832031 9 A 1.0001 1.0001 0 0 0 19.158203 9 L 30.832031 9 A 1.0001 1.0001 0 0 0 31.158203 9 L 39 9 L 39 45 C 39 45.554545 38.554545 46 38 46 L 12 46 C 11.445455 46 11 45.554545 11 45 L 11 9 z M 18.984375 13.986328 A 1.0001 1.0001 0 0 0 18 15 L 18 40 A 1.0001 1.0001 0 1 0 20 40 L 20 15 A 1.0001 1.0001 0 0 0 18.984375 13.986328 z M 24.984375 13.986328 A 1.0001 1.0001 0 0 0 24 15 L 24 40 A 1.0001 1.0001 0 1 0 26 40 L 26 15 A 1.0001 1.0001 0 0 0 24.984375 13.986328 z M 30.984375 13.986328 A 1.0001 1.0001 0 0 0 30 15 L 30 40 A 1.0001 1.0001 0 1 0 32 40 L 32 15 A 1.0001 1.0001 0 0 0 30.984375 13.986328 z">
                                    </path>
                                </svg></a>
                        </div>
                    </div>
                </div>
            }

            <div class="back-to-shop">
                <a asp-controller="Catalogo" asp-action="Index" class="btn btn-link">
                    &leftarrow;<span class="text-muted">Back to shop</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 summary-carrito">
            <div>
                <h5 class="h5-carrito"><b>Resumen</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">@totalItems Productos</div>
                <div class="col text-right">S/.@(Convert.ToDecimal(ViewData["SubTotal"]).ToString("N2"))</div>
            </div>
            <form class="form-carrito" method="get" asp-action="Index">
                <p>ENVIO</p>
                <select name="delivery" class="form-control select-carrito" onchange="this.form.submit()">
                    @foreach (var option in deliveryOptions)
                    {
                        if (option.Value.ToString() == currentDeliveryFee?.ToString())
                        {
                            <option value="@option.Value" selected>
                                @option.Key (S/. @option.Value.ToString("F2"))
                            </option>
                        }
                        else
                        {
                            <option value="@option.Value">
                                @option.Key (S/. @option.Value.ToString("F2"))
                            </option>
                        }
                    }
                </select>
                <p>CUPON</p>
                <input id="code" placeholder="Enter your code" class="input-carrito">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">Total a pagar</div>
                <div class="col text-right">S/.@(Convert.ToDecimal(ViewData["Total"]).ToString("N2"))</div>
            </div>
            <button class="btn-carrito">IR A PAGAR</button>
        </div>
    </div>

</div>

<link rel="stylesheet" href="~/css/Carrito.css">